<section id="{{productId}}" class="{{#if isBought}} bought-item {{else}} unbought-item  {{/if}}item">
    {{#if isBought}}{{else}}
        <button class="edit-button roboto-flex-500">Edit</button>
    {{/if}}

    <div>
        <div class="roboto-flex-500">
            <div class="item-market">{{market}}</div>
            <h1 class="item-title">{{productName}}</h1>
            <span class="item-quantity">{{quantity}} {{unit}}</span>
        </div>      
        <span class="item-price roboto-flex-500">{{price}}</span>
    </div>

    {{#if isBought}}{{else}}
        <button class="delete-button">Delete</button>
    {{/if}}
</section>